body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ffcc00;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd700;
}

.navbar {
  height: 8vh;
  width: 100%;
  background-color: #333333;
  display: flex;
}

.nav-left {
  width: auto;
  padding: 5px;
}

.nav-left img,
.footer-top img {
  height: 7vh;
  width: auto;
  object-fit: contain;
}

.nav-right {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 20px;
}

.nav-menu {
  list-style-type: none;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline;
  color: white;
  cursor: pointer;
}

.nav-menu li:hover {
  color: #ffcc00;
  border-bottom: 1px solid #ffcc00;
}

#login-button {
  color: white;
  padding: 8px 15px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
  border: none;
  margin-left: 20px;
}

@media screen and(max-width : 1350px) {
  .nav-menu {
    width: 50vw;
  }
}

@media screen and(max-width : 1000px) {
  .nav-menu {
    width: 60vw;
  }
}

.banner {
  height: 45vh;
  width: 100%;
  background-color: #dddddd;
  background-image: url("banner2.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

#all-offers-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#all-offers {
  background-color: #333333;
  color: white;
  height: 5vh;
  font-size: larger;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#all-offers:hover {
  background-color: #ffcc00;
  color: black;
  border: none;
}

#menu-container {
  font-size: xx-large;
  font-weight: bolder;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
}
#menu-title {
  display: inline-block;
  position: relative;
}

#menu-title-underline {
  width: 50px;
  height: 4px;
  background-color: red;
  border: none;
  border-radius: 10px;
}

.top-3-component {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 40px auto;
  background-color: #ede9e9;
  min-height: 470px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.top-3-title {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-left: 2px solid red;
  height: fit-content;
}

.top-3-title button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
  cursor: pointer;
}

.top-3-title button:hover {
  background-color: #ffcc00;
  color: black;
}

.top-3-card {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.food-card {
  height: 330px;
  width: 30%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.food-card img {
  height: 165px;
  width: 100%;
}

.food-card button {
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
  cursor: pointer;
  bottom: 0;
}

.food-card span {
  font-size: medium;
  font-weight: normal;
  display: block;
}

.food-card button:hover {
  background-color: #ffcc00;
  color: black;
}

.food-card-name {
  font-size: 1.4rem !important;
  font-weight: bold !important;
  color: red;
}

.footer {
  width: 100%;
  padding: 40px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 20px;
}

.footer-top {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid gray;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: white;
  font-size: small;
}

.footer h1 {
  color: red;
  margin-bottom: 30px;
}

.footer span {
  color: white;
  font-size: large;
  transition: color 0.5s ease;
  margin-bottom: 10px;
}

.footer span:hover {
  color: red;
}

.footer-section-3 form {
  border-top: 2px solid white;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer-section-3 form input {
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 65%;
  min-width: 200px;
  box-sizing: border-box;
  font-size: 14px;
}

.footer-section-3 form button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  cursor: pointer;
  width: 30%;
  min-width: 100px;
  white-space: nowrap;
  font-size: 14px;
  box-sizing: border-box;
  height: 42px;
}

.footer-section-3 form button:hover {
  background-color: #ffcc00;
  color: black;
}

#login-button a{
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
  cursor: pointer;
  text-decoration: none;
}

#login-button:hover {
  background-color: #ffcc00;
  color: black;
}